<div class="uk-adsy-menu-topbar">
  {{#uk-adsy-topbar
    primary   = primaryTop
    secondary = secondaryTop
  as |nav|}}
    {{yield 'top' nav}}
    {{#nav.right class='uk-hidden@l'}}
      {{nav.toggle on-click=(action 'toggle')}}
    {{/nav.right}}
  {{/uk-adsy-topbar}}
</div>

<div class="uk-adsy-menu-main">
  <div class="uk-adsy-menu-sidebar">
    {{#uk-adsy-sidebar
      muted     = mutedSide
      primary   = primarySide
      secondary = secondarySide
    as |nav|}}
      {{yield 'side' nav}}
    {{/uk-adsy-sidebar}}
  </div>

  <div class="uk-adsy-menu-content-overlay" {{action 'toggle'}}></div>

  <div class="uk-adsy-menu-content uk-padding uk-padding-remove-horizontal">
    <div class="uk-container uk-container-expand">{{yield}}</div>
  </div>
</div>